1. What are data structures, and why are they important?

Ans.
*   Data structures are the way of organizing and storing the data so that it can be accessed and modified efficiently. eg, Tuple, String, List, Dictionary, array etc.
*   They are important because they are crucial for efficient data management and algorithm implementation, impacting the performance and scalability of software applications.

2.  Explain the difference between mutable and immutable data types with examples

Ans.

*   Mutable: can be changed after creation like: list, dict, set.
*   Immutable: cannot be changed after creation like: int, float, str, tuple

For example:

In [ ]:
x = [1, 2]
x[0] = 0      #Its mutable
x

[0, 2]

In [ ]:
a = (1, 2)
a[0] = 0   #tuple is immutable
a

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

Ans.
*   Lists are mutable & tuples are immutable
*   Lists are slower compaired to tuples are faster due to immutability
*   Listrs uses more memory where as tuple uses less memory
*   Tuples are hashable and can be used as sictionary keys

4. Describe how dictionaries store data.

Ans. Dictionaries store data in key-value pairs. Each key is hashed to a unique index in an array where the corresponding value is stored.
eg: dict = {'name': 'Sourav', 'age': 31}
here name is key while Sourav is value of key.

5. Why might you use a set instead of a list in Python?

Ans.

*   Sets autimatically removes duplicate values while list don't do that.
*   Also sets provides faster membership tests compared to lists.

6. What is a string in Python, and how is it different from a list?

Ans.

*   String is the sequence of characters which is immutable in nature and it contains only string data types and no other data types.
*   While in other hand Lists are collection of items and is mutable data structure which can contains multiple data types.

7. How do tuples ensure data integrity in Python?

Ans. Since tuples are immutable in nature thats why, Once created, the elements of a tuple cannot be changed, ensuring that the data remains constant.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans.

*   Hash Table: A data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots.
*   Relation to Dictionaries: Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

Ans. Yes: Lists can contain elements of different data types, such as integers, strings, and even other lists.\

eg: mylist = [1, 'Ajay', 3.5, 2+3j, 4]

10. Explain why strings are immutable in Python?

Ans. Immutability helps with performance optimization, memory efficiency, and thread safety. It also allows strings to be used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Key-Value Mapping: Efficient for lookups, insertions, and deletions based on keys. For example: storing user information where quick access to user details by username is needed.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans. Storing coordinates of a point (x, y) where the values should not change.

13. How do sets handle duplicate values in Python?

Ans. Python set data structures inherently do not allow duplicate values. When we attempt to add duplicate values to a set, or when we create a set from an iterable that contains duplicates, the set will automatically discard the duplicates, storing only one instance of each unique element.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans. In List "in" checks for the presence of a value as an element.
In Dictionary "in" checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans. Since Tuples data structure is immutable, meaning we cannot modify, reassign, or delete the elements of tuples once its created.

16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is the dictionary within another dictionary.

For example:
nested_dict =  {'user1': {'name': 'Sanjay', 'age': 34}, 'user2': {'name': 'Ajay', 'age': 26}}

17. Describe the time complexity of accessing elements in a dictionary.

Ans. On average, accessing elements in a dictionary is O(1) due to its underlying hash table structure

18. In what situations are lists preferred over dictionaries?

Ans. When data naturally fits a sequence, where order and positional access are important, and duplicates are acceptable, a list is the preffered choice.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.

*   Dictionaries are designed for fast, direct access to values when we have the unique key. Their "unordered" nature means we trade index-based access for extremely efficient key-based retrieval, making them ideal for mapping and lookup tasks.
*   We cannot retrieve items using integer indices like my_dict[0]. We must know the exact key to retrieve its associated value.
*   Data retrieval is inherently driven by the key. If we don't know the key, we have to iterate through the dictionary's keys or values to find what we're looking for, which is less efficient than a direct key lookup.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans.

*   List: Data is retrieved by index (position)
*   Dictionary: Data is retrieved by key (lable/identifier), which is faster and more descriptive.

In [ ]:
#1.Write a code to create a string with your name and print it.

name = "Sourav Ghosal"
print(name)

Sourav Ghosal

In [ ]:
#2.Write a code to find the length of the string "Hello World".

print(len("Hello World"))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.

string = "hello"
uprString = string.upper()
print(uprString)

HELLO

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

String = "I like apple"
repString = String.replace('apple', 'orange')
print(repString)

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

numlist = [1,2,3,4,5]
print(numlist)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].

numList = [1, 2, 3, 4]
numList.append(10)
print(numList)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numList = [1, 2, 3, 4, 5]
numList.remove(3)
print(numList)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

alphlist = ['a', 'b', 'c', 'd']
print(alphlist[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

numList = [10, 20, 30, 40, 50]
print(numList[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

firsttuple = (100,200,300)
print(firsttuple)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

coltuple = ('red', 'green', 'blue', 'yellow')
print(coltuple[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numtuple = (10, 20, 5, 15)
print(min(numtuple))

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animal = ('dog', 'cat', 'rabbit')
print(animal.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

frutuple = ('Apple','mango','kiwi')
ifKiwi = 'kiwi' in frutuple
print(ifKiwi)

True

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

alphset = {'a','b','c'}
print(alphset)

{'c', 'b', 'a'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

alphset =  {1, 2, 3, 4, 5}
clearset = alphset.clear()
print(clearset)

None

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

alphaset = {1, 2, 3, 4}
remset= alphaset.remove(4)
print(alphaset)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
setunion = set1.union(set2)
print(setunion)

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
setintersect= set1.intersection(set2)
print(setintersect)

{3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {'name':'Ajay', 'age':'30', 'city':'Mumbai'}
print(dict)

{'name': 'Ajay', 'age': '30', 'city': 'Mumbai'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

perdict = {'name':'John', 'age':'25'}
perdict['Country'] = 'USA'
print(perdict)

{'name': 'John', 'age': '25', 'Country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

Dict = {'name': 'Alice', 'age': 30}
val = Dict['name']
print(val)

Alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

lisdict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
remdict = lisdict.pop('age')
print(remdict)
print(lisdict)

22
{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

namedict = {'name': 'Alice', 'city': 'Paris'}
doexist = 'city' in namedict
print(doexist)

True

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.

list=['Ajay','Bijay','Sanjay']
tuple=('Priya','Priyanka','Preeti')
dict={'Name':'Sourav','Age':'31','Country':'India'}
print(list)
print(tuple)
print(dict)

['Ajay', 'Bijay', 'Sanjay']
('Priya', 'Priyanka', 'Preeti')
{'Name': 'Sourav', 'Age': '31', 'Country': 'India'}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_number = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_number.sort()

# Print the result
print(random_number)

[11, 15, 40, 46, 76]

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index.

strlist = ['Sonali','Sushma','Shreya','Sanjay','Nirmal']
third_index = strlist[2]
print(third_index)

Shreya

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'Name':'Shreya','Age':'27','Relation':'wife'}
dict2 = {'MarriageDate':'20/05/2022'}
combdict = {**dict1,**dict2}
print(combdict)

{'Name': 'Shreya', 'Age': '27', 'Relation': 'wife', 'MarriageDate': '20/05/2022'}

In [ ]:
#30.Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "orange", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'orange', 'banana', 'apple'}